:root {
  --black: #212121;
  --teal: #1de9b6;
  --pink: #f50057;
  --white: #fafafa;

  --primary: var(--teal);
  --secondary: var(--pink);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--black);
  color: var(--white);
  font: 400 1.6rem "Kalam", sans-serif;
}

h1,
h2 {
  font-family: "Aclonica", cursive;
  text-transform: uppercase;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  width: 100vw;

  padding: 16px;
}

#title {
  color: var(--primary);
  letter-spacing: 0.2rem;
}

#tribute-info {
  font-size: 1.6rem;
}

#img-caption {
  font-size: 12px;
}

#tribute-link {
  color: var(--secondary);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}
