:root {
  --black: #212121;
  --teal: #1de9b6;
  --pink: #f50057;
  --white: #fafafa;

  --primary: var(--teal);
  --secondary: var(--pink);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--black);
  color: var(--white);
  font: 400 1.6rem "Kalam", sans-serif;
}

a {
  color: var(--secondary);
}

h1,
h2 {
  font-family: "Aclonica", cursive;
  text-transform: uppercase;
}

h2 {
  font-size: 1.8rem;
}

article {
  text-align: justify;
}

article h2 {
  margin: 12px 0;
}

article p {
  line-height: 2rem;
  margin: 12px auto;
}

footer p {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;

  padding: 24px 0;
}

footer p a {
  text-decoration: none;
}

header {
  padding: 24px 0;
  text-align: center;
}

header span {
  color: var(--secondary);
}

hr {
  margin-top: 28px;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  width: 100vw;

  margin: 0 auto;
  padding: 16px;
}

#title {
  color: var(--primary);
  letter-spacing: 0.2rem;
}

#tribute-info {
  font-size: 1.6rem;
}

#img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#image {
  height: auto;
  width: 100%;

  border-radius: 12px;
  margin: 20px auto;
}

#img-caption {
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-bottom: 20px;
}

#tribute-link {
  color: var(--secondary);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.bottom-line {
  border-bottom: 1px solid var(--secondary);
  padding: 0.8rem;
}

@media (min-width: 768px) {
  #main {
    max-width: 800px;
    width: 100vw;
  }
}